<extend name="./basic" />
<block name="index_login">

 
  <div class="clear"></div>
  
  <section id="main" class="entire_width">
    <div class="container_12">      
       <div id="content">
		<div class="grid_12">
			<h1 class="page_title">登录或者创建帐户</h1>
		</div><!-- .grid_12 -->
		
		<div class="grid_6 new_customers">
			<h2>新客户</h2>
			<p>通过创建我们的商店的帐户，你就可以通过移动结帐过程更快，存储多个送货地址，查看在您的帐户，更跟踪您的订单</p>
			<div class="clear"></div>
			<button class="account"><a href="/shop/Home/index/register">创建一个帐户</a></button>
                </div><!-- .grid_6 -->
		
		<div class="grid_6">
			<form class="registed" method="post" action="/shop/Home/index/login">
				<h2>注册的用户</h2>
							
				<p>如果你有我们的帐户，请登录。</p>
							
				<div class="email">
					<strong>用户：</strong><sup class="surely">*</sup><br/>
					<input type="text" name="user" class="" value="" />
				</div><!-- .email -->
							
				<div class="password">
					<strong>密码:</strong><sup class="surely">*</sup><br/>
					<input type="password" name="pass" class="" value="" />
					<a class="forgot" href="#">忘记密码了吗？</a>
				</div><!-- .password -->
				
				<div class="remember">
					<input class="niceCheck" type="checkbox" name="Remember_password" />
					<span class="rem">记住密码</span>
				</div><!-- .remember -->
				
				<div class="submit">										
					<input type="submit" value="登录" />
					<sup class="surely">*</sup><span>必填字段</span>
				</div><!-- .submit -->
			</form><!-- .registed -->
                </div><!-- .grid_6 -->
       </div><!-- #content -->
       
      <div class="clear"></div>
    </div><!-- .container_12 -->
  </section><!-- #main -->
  
  <div class="clear"></div>
</block>
  
 

